.menu-bg {
	width: 100%; background:#fff;
}

#menu1 .vertical_text{
    word-wrap: break-word;
    width: 14px;
    font-family: Montserrat, Nanum Gothic;
    font-size: 15px;
    display: inline-block;
    line-height: 25px;
}

#menu2 .vertical_text{
    font-family: Montserrat, Nanum Gothic;
    font-size: 15px;
    display: inline-block;
    line-height: 25px;
}

#menu3 #family {
    font-size:12px;
}