.hidden {
	display: none;
}

.clearfix {
	overflow: auto;
}

html {
	display: block;
	background: #404148;
}

body {
	display: block;
}

.main {
	display: block;
	float: left;
	margin-left: 70px;
}
/*////////< upper layout >///////////////////////////////////*/
.upper {
	display: block;
	position: relative;
	width: 1296px;
	height: 500px;
}

@media screen and (max-width: 1280px) {
	.upper {
		width: 1210px;
	}
}

.profile-pic-box-bg {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #404148;
	overflow: hidden;
}

.profile-pic-box-bg .thumbnail {
	position: absolute;
	margin: 0;
	left: 50%;
	top: 130px;
	height: auto;
	width: 100%;
	transform: translate(-50%, -50%);
}

.upper-left {
	width: 401px;
	height: 100%;
	position: relative;
}

.transp-bg {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.3;
}

.profile {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.logo {
	display: block;
	width: 185px;
	height: 65px;
	padding-top: 40px;
	padding-left: 105px;
	cursor: pointer;
}

.profile-pic-box-main {
	display: block;
	position: absolute;
	width: 185px;
	height: 185px;
	margin-left: 105px;
	overflow: hidden;
	border: 3px solid #fff;
	border-radius: 50%;
}

.thumbnail {
	position: absolute;
	margin: 0;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	transform: translate(-50%, -50%);
}

.profile-id {
	display: block;
	position: relative;
	width: 320px;
	height: 24px;
	top: 220px;
	left: 50%;
	transform: translateX(-50%);
	cursor: default;
	
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.profile-name {
	display: block;
	position: relative;
	width: 280px;
	height: 23px;
	/* padding-left: 26px; */
	/* padding-right: 26px; */
	/* background: url("../images/btn-user.png") no-repeat center right; */
	top: 230px;
	left: 50%;
	transform: translateX(-50%);
	cursor: default;
	
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.user-menu-btn {
	display: block;
	width: 23px;
	height: 23px;
	margin-left: 340px;
	margin-top: 206px;
	background: url("../images/btn-user.png") no-repeat center;
	cursor: pointer;
}

	.user-menu-btn:hover {
		opacity: 0.7;
	}

.user-menu-wrapper-bg {
	display: block;
	position: fixed;
	background: none;
	left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;	
}

.user-menu-wrapper {
	display: block;
	position: relative;
	left: 10px;
    top: 10px;
    border: 1px solid #e5e5e5;
    background: #fff;
    z-index: 3;	
}

.user-menu {
    display: block;
    padding: 8px 12px;
    cursor: pointer;
    
    font-size: 12px;
    color: #9f9f9f;
    text-align: center;	
}

.user-menu.settings-main {
    border-bottom: 1px solid #e5e5e5;
}

    .user-menu:hover {
        background: #f9f9f9;
    }

.profile-family-members-wrapper {
	display: inline-block;
	position: relative;
	min-width: 50px;
	min-height: 50px;
	top: 16px;
	left: 50%;
	margin-right: -50%;
	transform: translateX(-50%);
}

.profile-family-members {
	display: block;
	position: relative;
	margin: 10px;
	width: 46px;
	height: 46px;
	border: 2px solid #fff;
	border-radius: 50%;
	float: left;
	overflow: hidden;
	cursor: pointer;
}

/* .info-wrapper {
    display: block;
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 180px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    transition: opacity .13s linear;
    z-index: 2201;
    opacity: 0; 
    visibility: hidden;
} */

/*////////< lower layout >///////////////////////////////////*/
.lower {
	display: block;
	position: absolute;
	width: 1296px;
	height: calc(100% - 500px);
	background: #fff;
}

@media screen and (max-width: 1280px) {
	.lower {
		width: 1210px;
		overflow: hidden;
	}
}

.lower-left {
	display: block;
	position: absolute;
	width: 401px;
	height: 100%;
	min-height: 120px;
	background: #E5E5E5;
}

.alarm-wrapper {
	display: block;
	width: 320px;
	height: 320px;
	margin: 0 auto;
	margin-top: 40px;
	background: #fff;
}

.alarm {
	display: block;
	padding: 10px;
	width: 138px;
	height: 138px;
	border: 1px solid #e5e5e5;
	float: left;
	cursor: pointer;
}

.alarm>p {
	display: block;
	width: 68px;
	padding: 4px 0;
	margin: 0 auto;
}

.news>p {
	background: #47ccaf;
}

.let>p {
	background: #ed5661;
}

.cal>p {
	background: #7085e8;
}

.bday>p {
	background: #ffcb3a;
}

.alarm-icon {
	display: block;
	width: 60px;
	height: 60px;
	margin: 4px auto;
}

.news>.alarm-icon {
	background: url("../images/main-news.png") no-repeat center;
}

.let>.alarm-icon {
	background: url("../images/main-letter.png") no-repeat center;
}

.cal>.alarm-icon {
	background: url("../images/main-cal.png") no-repeat center;
}

.bday>.alarm-icon {
	background: url("../images/main-bday.png") no-repeat center;
}

@media screen and (max-height: 768px) {
	.alarm-wrapper {
		width: 320px;
		height: 80px;
	}
}

@media screen and (max-height: 768px) {
	.alarm {
		padding: 5px;
		width: 68px;
		height: 68px;
		overflow-y: hidden;
	}
}

@media screen and (max-height: 768px) {
	.alarm:hover.alarm>p {
		margin: -40px auto;
	}
}

@media screen and (max-height: 1024px) {
	.alarm-icon {
		margin-top: 14px;
	}
}

@media screen and (max-height: 768px) {
	.alarm-icon {
		margin-top: 4px;
	}
}

@media screen and (max-height: 1024px) {
	.lower-left {
		overflow-y: hidden;
	}
}

.lower-right {
	display: block;
	position: absolute;
	left: 401px;
	width: calc(100% - 401px);
	height: 100%;
	min-height: 120px;
	
	overflow-y: auto;
}

.preview-wrapper {
	display: block;
	width: 728px;
	height: 320px;
	margin: 0 auto;
	margin-top: 40px;
	background: #fff;
	font-size: 12px;
}

.preview-fampost-wrapper {
	display: block;
	width: 504px;
	height: 318px;
	border: 1px solid #fff;
	float: left;
}

.preview-fampost {
	display: block;
	position: relative;
	width: 166px;
	height: 157px;
	border: 1px solid #fff;
	float: left;
	overflow: hidden;
}

.fampost-text-box {
	display: block;
	width: 146px; /* 166-20 */
	height: 137px; /* 157-20 */
	margin: 10px;
	background: #E5E5E5;
	word-wrap: break-word;
}

.preview-vilpost-wrapper {
	display: block;
	margin-left: 6px;
	width: 214px;
	height: 318px;
	border: 1px solid #fff;
	float: right;
}

.preview-vilpost-wrapper>span {
	display: block;
	padding-top: 5px;
	padding-bottom: 4px;
	background: #9C9C9C;
	border: 1px solid #fff;
	color: #fff;
	text-align: center;
}

.preview-vilpost {
	display: block;
	position: relative;
	width: 212px;
	height: 71px;
	border: 1px solid #fff;
	overflow: hidden;
}

.village-board-label {
	display: block;
	width: 5px;
	height: 71px;
	float: left;
	background: #9C9C9C;
}

.village-board-label.1 {
	background: #3bc0c3;
}

.village-board-label.2 {
	background: #f6902e;
}

.village-board-label.3 {
	background: #e55175;
}

.village-board-label.4 {
	background: #7eca56;
}

.pic-box {
	background: #404148;
}

.preview-pic {
	position: absolute;
	width: auto;
	height: 100%;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	/*
    width: 100%;
    height: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    */
}

/* .preview-pic:hover.preview-pic-dscrp{
	display: block;
} */
.text-box {
	background: #E5E5E5;
	word-wrap: break-word;
}

.text-box-title {
	display: block;
	width: 190px; /* 214-20-4 */
	height: 15px;
	margin: 4px 10px;
	padding-right: 4px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.text-box-content {
	display: block;
	width: 192px; /* 214-20-2 */
	height: 40px;
	margin: 4px 10px;
	border: 1px solid #FFF;
	background: #F4F4F4;
	line-height: 1.8;
	overflow-y: hidden;
	word-wrap: break-word;
}
/* 
@media screen and (max-height: 768px) {
	.preview-wrapper {
		width: 814px;
		height: 80px;
		overflow-y: auto;
	}
}

@media screen and (max-height: 768px) {
	.preview-vilpost-wrapper {
		margin-right: 36px;
	}
} */

/* @media screen and (max-height: 1024px) {
	.lower-right {
		overflow-y: hidden;
	}
} */