.hidden {
    display: none;
}

.clearfix {
    overflow: auto;
}

html {
    display: block;
    background: #404148;
}

body {
    display: block;
}

.main {
    display: block;
    float: left;
    margin-left: 70px;
}
/*////////< upper layout >///////////////////////////////////*/
.upper {
    display: block;
    position: relative;
    width: 1296px;
    height: 500px;
}

@media screen and (max-width: 1280px) {
    .upper {
        width: 1210px;
    }
}

.profile-pic-box-bg {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: darkgrey;
    overflow: hidden;
}

.profile-pic-box-bg .thumbnail {
    position: absolute;
    margin: 0;
    left: 50%;
    top: 130px;
    height: auto;
    width: 100%;
    transform: translate(-50%,-50%);
}

.upper-left {
    width: 401px;
    height: 100%;
    position: relative;
}

.transp-bg {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.3;
}

.profile {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.logo {
    display: block;
    width: 185px;
    height: 65px;
    padding-top: 40px;
    padding-left: 105px;
}

.logo1 {float: left;}
.logo2 {float: left;}
.logo3 {float: left;}
.logo4 {float: left;}
.logo5 {float: left;}

.profile-pic-box-main {
    display: block;
    position: absolute;
    width: 185px;
    height: 185px;
    margin-left: 105px;
    overflow: hidden;
    border: 3px solid white;
    border-radius: 50%;
}

.thumbnail {
    position: absolute;
    margin: 0;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%,-50%);
}

.profile-id {
    display: block;
    position: relative;
    top: 220px;
}

.profile-name {
    display: block;
    position: relative;
    top: 230px;
}

.profile-family-members-wrapper {
    display: inline-block;
    position: relative;
    min-width: 50px;
    min-height: 50px;
    top: 246px;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);
}

.profile-family-members {
    display: block;
    position: relative;
    margin: 10px;
    width: 46px;
    height: 46px;
    border: 2px solid white;
    border-radius: 50%;
    float: left;
    overflow: hidden;
}

.info-wrapper {
    display: block;
    position: absolute;
    bottom: 0;
    width: 125px;
    height: 180px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    transition: opacity .13s linear;
    z-index: 2201;
    opacity: 0; 
    visibility: hidden;
}

/*////////< lower layout >///////////////////////////////////*/
.lower {
    display: block;
    position: absolute;
    width: 1296px;
    height: calc(100% - 500px);
    background: #fff;
}

@media screen and (max-width: 1280px) {
    .lower {
        width: 1210px;
    }
}

.lower-left {
    display: block;
    position: absolute;
    width: 401px;
    height: 100%;
    min-height: 120px;
    background: #E5E5E5;
}

.alarm-wrapper {
    display: block;
    width: 320px;
    height: 320px;
    margin: 0 auto;
    margin-top: 40px;
    background: #fff;
}

.alarm {
    display: block;
    padding: 10px;
    width: 138px;
    height: 138px;
    border: 1px solid #e5e5e5;
    float: left;
    cursor: pointer;
}

.alarm > p {
    display: block;
    width: 68px;
    padding: 4px 0;
    margin: 0 auto;
}

.news > p {background: #47ccaf;}
.let > p  {background: #ed5661;}
.cal > p  {background: #7085e8;}
.bday > p {background: #ffcb3a;}

.alarm-icon {
    display: block;
    width: 60px;
    height: 60px;
    margin: 4px auto;
}

.news > .alarm-icon {background: url("../images/main-news.png") no-repeat center;  }
.let > .alarm-icon  {background: url("../images/main-letter.png") no-repeat center;}
.cal > .alarm-icon  {background: url("../images/main-cal.png") no-repeat center;   }
.bday > .alarm-icon {background: url("../images/main-bday.png") no-repeat center;  }

@media screen and (max-height: 768px) {
    .alarm-wrapper {
        width: 320px;
        height: 80px;
    }
}

@media screen and (max-height: 768px) {
    .alarm {
        padding: 5px;
        width: 68px;
        height: 68px;
        font-size: 0.7em;
        overflow-y: hidden;
    }
}

@media screen and (max-height: 768px) {
    .alarm:hover.alarm > p {
        margin: -40px auto;
    }
}

@media screen and (max-height: 1024px) {
    .lower-left {
		overflow-y: hidden;
    }
}

.lower-right {
    display: block;
    position: absolute; 
    left: 401px;
    width: calc(100% - 401px);
    height: 100%;
    min-height: 120px;
}

.preview-wrapper {
    display: block;
    width: 814px;
    height: 80px;
    /*height: 320px;*/
    margin: 0 auto;
    margin-top: 40px;
    background: #e5e5e5;

    font-size: 12px;
}

.preview {
    display: block;
    float: left;
    width: 405px;
    height: 78px;
    border: 1px solid #fff;
}

.preview-post {
    display: block;
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.pic-box {
    background: #404148;
}

.preview-pic {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: -10px;
    /*top: 50%;
    transform: translateY(-50%);*/
}

.text-box {
    margin: 5px;
    width: calc(50% - 10px);
    height: calc(100% - 10px);
    background: #e5e5e5;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}