
.hidden {
    display: none;
}

.clearfix {
    overflow: auto;
}

/*////////툴바 레이아웃/////////////////////////////////////*/

#toolbar {
    position: fixed;
    margin-left: 70px;
    width: calc(100% - 70px);
    min-width: 461px;
    height: 70px;
    background: #f2f2f2;
    z-index: 1;
}

.toolbar-bg {
    display: block;
    position: absolute;
    width: 120%;
    height: 100%;
    /*background: #3bc0c3;*/
    /*background: #4AB19A;*/
    background: #47ccaf;
    /*background: #ed5661;*/
    /*background: #e5e5e5;*/
    /*background: #68cfb9;*/
    /* background: #f2f2f2; */
}

#toolbar.shadow {-webkit-box-shadow: 0px 0px 5px #9f9f9f;}

.toolbar-main {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.toolbar-logo {
    display: inline-block;
    margin-left: 30px;
    margin-top: 14px;
    float: left;
}

.toolbar-search {
    display: inline-block;
    /*position: absolute;
    right: 370px;*/
    margin-top: 18px;
    margin-left: 30px;
    width: 240px;
    height: 30px;
    border: 2px solid #F5F5F5;
    border-radius: 16px;
    padding-left: 12px;
    padding-right: 12px;
    /*background: #fff;*/
    float: left;
}

.news-search {
    width: calc(100% - 20px);
    height: 100%;
    border: none;
    outline: none;
    float: left;
    background: none;
}

    .news-search::-webkit-input-placeholder::before {
        content: "이웃 소식을 검색해보세요";
    }

#news-search {
    display: block;
    margin-left: calc(100% - 15px);
    margin-top: 4px;
    width: 18px;
    height: 20px;
    background: url("../../resource/images/btn-search-s.png") no-repeat center;
    opacity: 0.3;
    cursor: pointer;
}

#news-search:hover {
    opacity: 0.6;
}

    @media screen and (max-width: 860px) {.toolbar-search {width: 120px;}}
    @media screen and (max-width: 860px) {.news-search::-webkit-input-placeholder::before {content: "검색";}}
    @media screen and (max-width: 750px) {.toolbar-logo {display: none;}}
    @media screen and (max-width: 750px) {.news-search::-webkit-input-placeholder::before {content: "e-oot 검색";}}
    @media screen and (max-width: 590px) {.toolbar-search {width: 80px;}}
    @media screen and (max-width: 590px) {.news-search::-webkit-input-placeholder::before {content: "e-oot";}}

.toolbar-user {
    display: block;
    position: absolute;
    width: 250px;
    height: 100%;
    right: 40px;
}

.toolbar-main .profile-pic-box {
    position: relative;
    margin-top: 12px;
    margin-right: 8px;
    float: left;
}

.toolbar-info {
    display: inline-block;
    margin-top: 12px;
}

.user {
    display: block;
    width: 190px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user.log-out {
    display: inline-block;
    width: auto;
    cursor: pointer;
    color: #E5E5E5;
}

.toolbar-opt {
    display: block;
    width: 30px;
    height: 100%;
    float: right;
    cursor: pointer;
    background: url("../images/btn-more.png") no-repeat center;
}

    .toolbar-opt:hover {
        opacity: 0.7;
    }

.opt-wrapper {
	display: none;
	position: fixed;
	right: 14px;
    top: 56px;
    border: 1px solid #e5e5e5;
    background: #fff;
}

.opt {
    display: block;
    padding: 8px 12px;
    cursor: pointer;	
}

.opt.popular {
    border-bottom: 1px solid #e5e5e5;
}

    .opt:hover {
        background: #e0f6f1;
    }

/*////////뉴스피드 레이아웃/////////////////////////////////////*/
html {
    /*background: #E5E5E5;*/
    background: #F2F2F2;
}

.main {
    display: block;
}

.wrapper {
    display: block;
    margin-top: 85px;
    left: 50%;
    margin-left: -345px; /*( 760px / 2 ) - (70 / 2)*/
    right: 50%;
    margin-right: -380px;
    position: absolute;
    min-width: 760px;
    /*background: #E5E5E5;*/
    background: #F2F2F2;
}

.post {
    display: block;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    /*width: 518px;*/
    width: 358px;
    background: white;
    /*border: 1px solid #d8d8d8;*/
    border: 1px solid #e5e5e5;
    border-bottom-width: 2px;
    border-radius: 3px;
}

    .post {
        clear: left;
        float: left;
    }

    .post:nth-child(2n) {
        clear: right;
        float: right;
    }

    @media screen and (max-width: 960px) {
        .post:nth-child(2n) {
            clear: left;
            float: left;
        }
    }

    @media screen and (max-width: 960px) {
        .wrapper {
            min-width: 380px;
            left: 316px;
            margin-left: 0px;
            right: auto;
            margin-right: auto;
        }
    }

    @media screen and (max-width: 750px) {.wrapper {left: 212px;}}
    @media screen and (max-width: 640px) {.wrapper {left: 157px;}}
    @media screen and (max-width: 590px) {.wrapper {left: 140px;}}
    @media screen and (max-width: 548px) {.wrapper {left: 110px;}}

/*=======< post-header >===================================*/
.post-header-wrapper {
    display: block;
    width: calc(100%-40px);
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.post-header {
    display: block;
    position: relative;
    width: 100%;
    height: 60px; 
}

.profile-pic-box {
    display: block;
    position: absolute;
    margin-top: 20px;
    margin-right: 15px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    /*border: 1px solid #ededed;*/
    background: black; 
    overflow: hidden;
}

.thumbnail{
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  height: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.post-info {
    display: block;
    position: absolute;
    /*width: 257px;*/
    height: 37px;
    margin-left: 61px;
    margin-bottom: 15px;
    padding-top: 23px;
}

.post-info-writer {
    display: block;
    height: 17px;
}

.post-info-wrapper {
    display: inline-block; 
    padding-top: 3px;
}

.post-info-sharing-details {
    display: inline-block;
    height: 16px;
    float: left;
    /*border-right: 1px solid #999;*/
    /*padding-right: 13px;*/
    
}

.post-info-date {
    display: inline-block;
    height: 16px;
    float: left;
    padding-left: 24px;
    background: url(../images/post-info-line.png) no-repeat 10px center;
}

/*=======< post-main >===================================*/
.post-main-wrapper {
    display: block;
    width: calc(100%-40px);
    min-height: 28px;
    padding-left: 20px;
    padding-right: 20px;
}

.post-main {
    height: 100%; 
}

.post-content {
    padding-bottom: 20px;

    /*길어지면 쩜쩜쩜*/
    /*overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;*/
}

/*.post-content {
    width: 100%;
}

.post-content-more {
    display: inline-block;
}*/

.post-main-img {
    position: relative;
    width: 100%;
    margin: auto;
}

/*=======< post-footer >===================================*/

.post-footer-wrapper {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.post-footer {
    display: block;
    height: 100%;
}

.post-popularity-wrapper {
    display: block;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

.post-popularity {
    display: block;
    margin-top: -6px;
    /*margin-top: -60px;*/
}

.post-popularity-item {
    display: inline-block;
    border: 1px solid #ededed;
    border-radius: 4px;
    margin-top: 13px;
    min-width: 36px;
    height: 28px;
    /*background: white;
    opacity: 0.4;*/
}

.post-popularity-item.like {
}

.post-popularity-item.scrap {
    margin-left: 8px;
}

.post-popularity-item.comment{
    float: right;
}

    .post-popularity :hover {
        background: #F5F5F5;
        border-color: #c1c1c1;
    }

.post-popularity-btn {
    display: inline-block;
    width: 16px;
    margin-left: 5px;
    margin-right: 3px;
    margin-top: 7px;
    float: left;
    /*background: none;
    z-index: 1;*/
}

.post-popularity-cnt {
    display: inline-block;
    margin-right: 5px;
    margin-top: 2px;
    /*background: none;
    z-index: 1;*/
}


/*=======< post-comment >===================================*/
.post-comment-wrapper {
    display: block;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 12px;
    background: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.post-comment {
    display: block;
}

.post-comment-list {
    display: block;
    position: relative;
    padding-bottom: 10px;
    clear: left;
}

.post-comment-list li {
    margin-top: 5px;
}

.comment-info {
    margin-left: 36px;
    padding-top: 8px;
}

.comment-info-writer {
    display: block;
}

.comment-info-date {
    display: inline-block;
    padding-top: 2px;
    float: left;
}

.comment-like {
    display: inline-block;
    margin-left: 10px;
}

.comment-like-btn {
    display: inline-block;
    float: left;
    padding-top: 4px;
}

.comment-like-cnt {
    display: inline-block;
    margin-left: 2px;
    padding-top: 1px;
}

.comment-content {
    display: block;
    margin-left: 36px;
}

.post-comment-write {
    display: block;
    clear: left;
}
.profile-pic-box-s {
    position: absolute;
    width: 28px;
    height: 28px;
    margin-top: 11px;
    background: black;
    float: left;
    overflow: hidden;
    border-radius: 50%;
}

input[type=text] {
    width: calc(100% - 112px);
    min-height: 30px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 36px;
    margin-right: 8px;
    margin-top: 10px;
    border: 1px solid #ddd;
    background: white;
    float: left;

    /*box-sizing: border-box;*/
    height: auto;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: auto;
}

.comment-submit {
    width: 50px;
    height: 30px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 11px;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    background: #c1c1c1;
}



