
.toolbar-logo {
    font-family: Montserrat;
    font-size: 34px;
    color: white;
    text-align: center;
    /*text-shadow:0px 1px 6px #000000;*/
}

.news-search::-webkit-input-placeholder {
	color: #47ccaf;
}

.news-search::-webkit-input-placeholder::before {
    font-family: Montserrat, Nanum Gothic;
    font-size: 15px;
    color: #F5F5F5;
}

.toolbar-info {
    font-family: Montserrat, Nanum Gothic;
    font-size: 12px;
    color: #fff;
}

.opt {
    font-family: Montserrat, Nanum Gothic;
    font-size: 12px;
    text-align: center;
    color: #9f9f9f;
}

/*=======< post-header STYLE >===================================*/
.post-info {
    font-family: Nanum Gothic;
    font-size: 12px;
    line-height: 1.4;
}

.post-info-writer {
    font-size: 14px;
    font-weight: bold;
}

.post-info-wrapper {
    color: #999;
    font-size: 12px;
}
/*=======< post-main STYLE >===================================*/
.post-content {
    font-family: Nanum Gothic;
    font-size: 13px;
    line-height: 1.4;
    word-wrap: break-word;
}

.post-content-more {
    color: #999;
    font-family: Nanum Gothic;
    font-size: 12px;
    line-height: 1.4;
}

/*=======< post-footer STYLE >===================================*/
.post-popularity-cnt {
    font-family: 맑은 고딕, 고딕, sans-serif;
    font-size: 17px;
    font-weight: bold;
}

/*=======< post-comment STYLE >===================================*/

.comment-info-writer {
    font-family:  Nanum Gothic;
    font-size: 13px;
    font-weight: bold;
}

.comment-info-date {
    font-family:  Nanum Gothic;
    font-size: 12px;
    color: #999;
}

.comment-like {
    font-family:  맑은 고딕, 고딕, sans-serif;
    font-size: 11px;
    color: #999;
}

.comment-content {
    font-family:  Nanum Gothic;
    font-size: 13px;
    line-height: 1.4;
}

input[type=text] {
    font-size: 12px;
    color: #404040;
}

input[type=button] {
    font-size: 12px;
    color: white;
}
/*#menu1 .vertical_text{
    word-wrap: break-word;
    width: 14px;
    font-family: 맑은 고딕, 고딕, sans-serif;
    font-size: 15px;
    display: inline-block;
    line-height: 25px;
}

#menu2 .vertical_text{
    font-family: 맑은 고딕, 고딕, sans-serif;
    font-size: 15px;
    display: inline-block;
    line-height: 25px;
}*/