::-webkit-scrollbar
{
  width: 14px;  /* for vertical scrollbars */
  height: 14px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  /* background: rgba(0, 0, 0, 0.1); */
  background: #F1F1F1;
}

::-webkit-scrollbar-thumb
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
/*   background: rgba(0, 0, 0, 0.2); */
  background: #BCBCBC;
  border: 2px solid #F1F1F1;
} 

::-webkit-scrollbar-thumb:ACTIVE
{
  background: rgba(0, 0, 0, 0.4);
} 

.hidden {
    display: none;
}

#wrap {
    margin: 0 auto;
    width: 600px;
}

article {
    float: left;
    border: 1px solid rgba(102,102,102,1);
    width: 700px;
    height: 600px;
}

.write {
    float: left;
    background: white;
    width: 60%;
    height: 100%;
}

.writeHeader {
    float: left;
    width: 100%;
    height: 15%;
}

.writeSearch {
    margin-left: 10px;
    margin-top: 15px;
    width: 95%;
    height: 60px;
    font-size: 20px;
    border: 1px dashed #A4A4A4;
    text-align: center;
}

.writerContents {
    height: 100%;
}

.contents {
    margin-left: 10px;
    margin-top: 15px;
    width: 95%;
    height: 480px;
    font-size: 20px;
    border: 1px dashed #A4A4A4;
    text-align: center;
    position: relative;
}

.select {
    float: right;
    background: #81BEF7;
    width: 40%;
    height: 100%;
}

.top {
    background: #81BEF7;
    height: 20%;
    padding-bottom: 15px;
}

.profile {
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    width: 100px;
    height: 100px;
}

.date {
    float: left;
    margin-left: 25px;
    margin-top: 30px;
    text-align: center;
    background: #A9E2F3;
}

.check {
    float: left;
    margin-left: 25px;
    margin-top: 10px;
}

.checkbox {
    float: left;
    background: #A9E2F3;
}

#checkbox1 {
    display: none;
}

    #checkbox1 + label {
        display: inline-block;
        margin-top: 3px;
        width: 16px;
        height: 16px;
        border: 3px solid #000000;
        cursor: pointer;
    }

    #checkbox1:checked + label:after {
        position: relative;
        top: -3px;
        left: 2px;
        content: '\2714';
        font-size: 15px;
    }

.select-d {
    float: left;
    margin-top: 15px;
}

.writeStyle {
    background: #81BEF7;
    height: 8%;
    padding: 10px;
}

.styleSelect {
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #2E2EFE;
    height: 85%;
    padding: 5px;
    background: white;
}

#textTop {
}

#textContent {
}

.commands {
    border-left: 1px solid #ddd;
}

[data-wysihtml5-command],
[data-wysihtml5-action],
.fore-color {
    position: relative;
    border-right: 1px solid #ddd;
    border-left: 1px solid #fff;
    list-style: none;
    font-size: 12px;
    display: inline-block;
    cursor: pointer;
    height: 40px;
    width: 68px;
}

    [data-wysihtml5-command]::after,
    [data-wysihtml5-action]::after,
    .fore-color::after {
        content: "";
        background-image: url(../image/spr_toolbar_icons_r1.png);
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    [data-wysihtml5-command]:hover,
    [data-wysihtml5-action]:hover,
    .fore-color:hover {
        background-image: linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
        background-image: -o-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
        background-image: -moz-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
        background-image: -webkit-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
        background-image: -ms-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
    }

[data-wysihtml5-command="bold"]::after {
    background-position: 24px center;
}

[data-wysihtml5-command="italic"]::after {
    background-position: -48px center;
}

[data-wysihtml5-command="insertUnorderedList"]::after {
    background-position: -115px center;
}

[data-wysihtml5-command="insertOrderedList"]::after {
    background-position: -197px center;
}

[data-wysihtml5-command="formatBlock"][data-wysihtml5-command-value="h1"]::after {
    background-position: -344px center;
}

[data-wysihtml5-command="formatBlock"][data-wysihtml5-command-value="h2"]::after {
    background-position: -428px center;
}

[data-wysihtml5-command="createLink"]::after {
    background-position: -271px center;
}

[data-wysihtml5-command="insertImage"]::after {
    background-position: -513px center;
}

.fore-color::after {
    background-position: -741px center;
}

[data-wysihtml5-command="insertSpeech"]::after {
    background-position: -596px center;
}

[data-wysihtml5-action="change_view"]::after {
    background-position: -670px center;
}

.fore-color ul {
    display: none;
    position: absolute;
    z-index: 2;
    top: 40px;
    right: -1px;
    left: -2px;
    border: 1px solid #ccc;
    border-top: 0;
    background: #fff;
    overflow: hidden;
}

.fore-color li {
    display: block;
    margin: 3px;
    width: auto;
    border: 0;
    height: 15px;
}

    .fore-color li::after {
        display: none;
    }

.fore-color:hover ul {
    display: block;
}

.fore-color [data-wysihtml5-command-value="silver"] {
    background: silver !important;
}


.fore-color [data-wysihtml5-command-value="gray"] {
    background: gray !important;
}

.fore-color [data-wysihtml5-command-value="maroon"] {
    background: maroon !important;
}

.fore-color [data-wysihtml5-command-value="red"] {
    background: red !important;
}

.fore-color [data-wysihtml5-command-value="purple"] {
    background: purple !important;
}

.fore-color [data-wysihtml5-command-value="green"] {
    background: green !important;
}

.fore-color [data-wysihtml5-command-value="olive"] {
    background: olive !important;
}

.fore-color [data-wysihtml5-command-value="navy"] {
    background: navy !important;
}

.fore-color [data-wysihtml5-command-value="blue"] {
    background: blue !important;
}

.fore-color .wysihtml5-command-active {
    outline: 1px solid #666;
    outline-offset: 1px;
}

.wysihtml5-commands-disabled .fore-color ul {
    display: none;
}

.wysihtml5-action-active,
.wysihtml5-command-active {
    box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.2);
    background: #eee !important;
}

.wysihtml5-commands-disabled [data-wysihtml5-command],
.wysihtml5-commands-disabled .fore-color {
    opacity: 0.4;
    cursor: default;
    background-image: none !important;
}

[data-wysihtml5-dialog] {
    color: #333;
    font-size: 14px;
    text-align: left;
    border-radius: 4px;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 5px 10px;
    background: #FFFBE0;
    position: absolute;
    width: 810px;
    text-align: center;
    top: 45px;
}

    [data-wysihtml5-dialog] input {
        color: #333;
        border: 1px solid #ccc;
        padding: 3px;
        width: 300px;
    }

        [data-wysihtml5-dialog] input:focus {
            outline: 0;
            border: 1px solid #666;
        }

[data-wysihtml5-dialog-action] {
    padding: 4px;
    color: #fff;
    cursor: pointer;
}

[data-wysihtml5-dialog-action="save"] {
    background: #007200;
}

[data-wysihtml5-dialog-action="cancel"] {
    background: #999;
}

.uploadSelect {
    background: #81BEF7;
    height: 8%;
    padding: 10px;
    margin-top: 40px;
}

.upload {
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #2E2EFE;
    height: 85%;
    padding: 5px;
    background: white;
    display: block;
}

.line {
    text-align: left;
}

#dropzone {
    margin-top: 60px;
}

.uploadContent {
}

#dropUpload {
    display: inherit;
    margin-top: 50px;
    background: #A9E2F3;
    width: 20%;
    height: 20%;
}

.drop {
    padding: 10px;
    float: left;
    font-size: 17px;
}

.url {
    padding: 10px;
    float: left;
    font-size: 17px;
}

.all {
    position: absolute;
    width: 350px;
    height: 450px;
    background: #A9E2F3;
}

.what {
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    background: #A9E2F3;
    height: 10%;
    width: 95%;
    font-size: 12px;
}

.whatContent {
    position: relative;
    background: #A9E2F3;
    height: 100%;
    width: 100%;
}

.whatWrite {
    position: relative;
    margin-top: 5px;
    margin-left: 5px;
    height: 100%;
    width: 95%;
}

.when {
    margin-left: 10px;
    margin-top: 30px;
    position: relative;
    background: #A9E2F3;
    height: 10%;
    width: 95%;
    font-size: 12px;
}

.whenContent {
    margin: 5px;
    float: left;
}

.selectEoot {
    margin-top: 50px;
    float: left;
}

#checkbox2 {
    display: none;
}

    #checkbox2 + label {
        display: inline-block;
        margin-top: 3px;
        width: 16px;
        height: 16px;
        border: 3px solid #000000;
        cursor: pointer;
    }

    #checkbox2:checked + label:after {
        position: relative;
        top: -2px;
        left: 2px;
        content: '\2714';
        font-size: 15px;
    }

#checkbox3 {
    display: none;
}

    #checkbox3 + label {
        display: inline-block;
        margin-top: 3px;
        width: 16px;
        height: 16px;
        border: 3px solid #000000;
        cursor: pointer;
    }

    #checkbox3:checked + label:after {
        position: relative;
        top: -3px;
        left: 2px;
        content: '\2714';
        font-size: 15px;
    }

#checkbox4 {
    display: none;
}

    #checkbox4 + label {
        display: inline-block;
        margin-top: 3px;
        width: 16px;
        height: 16px;
        border: 3px solid #000000;
        cursor: pointer;
    }

    #checkbox4:checked + label:after {
        position: relative;
        top: -3px;
        left: 2px;
        content: '\2714';
        font-size: 15px;
    }

.btn {
    margin-top: 50px;
    margin-left: 5px;
}

.select-box {
    float: left;
    margin-left: 15px;
    font-size: 12px;
}

#checkbox5 {
    display: none;
}

    #checkbox5 + label {
        display: inline-block;
        margin-top: 3px;
        width: 16px;
        height: 16px;
        border: 1px solid gray;
        cursor: pointer;
    }

    #checkbox5:checked + label:after {
        position: relative;
        top: -3px;
        left: 2px;
        content: '\2714';
        font-size: 15px;
    }

.select-f {
    position: relative;
    left: 5px;
    margin-top: 2px;
}

.where {
    margin-left: 10px;
    margin-top: 30px;
    position: relative;
    background: #A9E2F3;
    height: 10%;
    width: 95%;
    font-size: 12px;
}

.how {
    margin-left: 10px;
    margin-top: 30px;
    position: relative;
    background: #A9E2F3;
    height: 10%;
    width: 95%;
    font-size: 12px;
}

.ready {
    margin-left: 10px;
    margin-top: 30px;
    /*position: relative;*/
    background: #A9E2F3;
    height: 10%;
    width: 95%;
    font-size: 12px;
}

#checkbox6 {
    display: none;
}

    #checkbox6 + label {
        display: inline-block;
        margin-top: 3px;
        width: 16px;
        height: 16px;
        border: 1px solid gray;
        cursor: pointer;
    }

    #checkbox6:checked + label:after {
        position: relative;
        top: -3px;
        left: 2px;
        content: '\2714';
        font-size: 15px;
    }

.select-g {
    position: relative;
    left: 5px;
    margin-top: 2px;
}

.fileUpload {
    position: relative;
    float: left;
    display:block;
}
