body
{
  
}

#main
{   
    margin-left: 70px;
    width: calc(100% - 70px);
}

.village-main-area
{
    position: absolute;
    width: calc(100% - 30% - 70px);
    height: 100%;
    background: #edf1f2;
    overflow-y: scroll;
    /*배경색 변경*/
}

.village-sub-area
{
    position: absolute;
    width: 30%;
    height: 100%;
    right: 0;
    overflow: hidden;
}



.e-oot-newsfeed
{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 50%;
}

.e-oot-newsfeed-background
{
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.village-newsfeed
{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50%;
}