.hidden
{
    display: none;
    /*visibility: hidden;*/
}

.empty-space
{
    display: inline-block;
    height: 15%;
    float: left;
    visibility: hidden;
}

#e-oot-newsfeed-board
{
    margin-top: 20px;
    width: 60px;
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: 40px;
}

#village-newsfeed-board 
{
    margin-top: 20px;
    width: 60px;
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: 40px;
}

.e-oot-newsfeed-prev-btn
{
    position: relative;
    display: block;
    text-align: center;   
}

.e-oot-newsfeed-next-btn
{
    position: relative;
    display: block;
    text-align: center;   
}

.village-newsfeed-prev-btn
{
    position: relative;
    display: block;
    text-align: center; 
}

.village-newsfeed-next-btn
{
    position: relative;
    display: block;
    text-align: center;   
}

.e-oot-newsfeed-clipper
{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.village-newsfeed-clipper
{
    position: relative;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.e-oot-newsfeed-list
{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 2000px;
    overflow: hidden;
}

.e-oot-newsfeed-item {
    display: block;
    width: 80%;        
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#e-oot-newsfeed-item-img
{
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background: black;
    overflow: hidden;
    /*background: blue;*/
}

/*.thumbnail{
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}*/

#e-oot-newsfeed-item-content1
{
    position: relative;
    display: inline-block;
    font-family: 'Nanum Gothic', serif;
    font-size: 12px;
    font-weight: bold;
    /*background: red;*/
    margin-top: 3px;
    padding-left: 70px;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #35d783;
}

#e-oot-newsfeed-item-content2
{
    position: relative;
    display: inline-block;
    font-family: 'Nanum Gothic', serif;
    font-size: 12px;
    font-weight: bold;
    padding-left: 70px;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: black;
}

.e-oot-newsfeed-item > a
{
    text-decoration: none;
}

#e-oot-newsfeed-item-btn
{
    width: 30px;
    height: 30px;
}

#village-newsfeed-item-btn
{
    width: 30px;
    height: 30px;
}

.newsfeed-item-layout
{
    text-align: center;
}

#map_canvas
{
    width: 100%;
    height: 100%;
}

/*Ãß°¡»çÇ×*/

.icon-deploy
{
    position: relative;
    display: block;
    width: 300px;
    height: 70px;
    left: -8px;
}

.vilPosts-icon-color1
{
    position: relative;
    display: block;
    float: left;
    width: 10px;
    height: 10px;    
    border-radius: 2px;
    background: #3bc0c3;
    top: 36px;
    left: 8px;    
}

.vilPosts-icon-color2
{
    position: relative;
    display: block;
    float: left;
    width: 10px;
    height: 10px;    
    border-radius: 2px;
    background: #f6902e;
    top: 36px;
    left: 8px;
}

.vilPosts-icon-color3
{
    position: relative;
    display: block;
    float: left;
    width: 10px;
    height: 10px;    
    border-radius: 2px;
    background: #e55175;
    top: 36px;
    left: 8px;
}

.vilPosts-icon-color4
{
    position: relative;
    display: block;
    float: left;
    width: 10px;
    height: 10px;    
    border-radius: 2px;
    background: #7eca56;
    top: 36px;
    left: 8px;
}

.vilPosts-icon
{
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    float: left;
    top: 34px;
}

.village-board-label1
{
    display: inline-block;
    width: 5px;
    height: 90px;
    float: left;
    background: #3bc0c3;
}

.village-board-label2
{
    display: inline-block;
    width: 5px;
    height: 90px;
    float: left;
    background: #f6902e;
}

.village-board-label3
{
    display: inline-block;
    width: 5px;
    height: 90px;
    float: left;
    background: #e55175;
}

.village-board-label4
{
    display: inline-block;
    width: 5px;
    height: 90px;
    float: left;
    background: #7eca56;
}

.village-board-item-img {
    display: block;
    position: relative;
    width: 60px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 18px;
    float: left;
    overflow: hidden;
    background: black;
}

.thumbnail2 {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
}

.village-board-list-wrapper
{
    margin-top: 70px;
    margin-bottom: 70px;
}

.village-board-list
{
    position: relative;
    display: block;
    width: 700px;
    min-height: 130px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid #000000;
    border-radius: 2px;
    overflow: hidden;
}

.village-board-item1
{
    position: relative;
    display: block;
    width: 100%;
    height: 90px;
    background: white;
}

.village-board-item-text00
{
    display: block;
    float: left;
}

#village-board-item-title
{
    display: block;
    min-width: 100px;
    font-family: 'Nanum Gothic', serif;
    font-weight: bold;
    font-size: 12px;
    color: #979797;
    padding-top: 30px;
}

#village-board-item-user
{
    display: block;
    min-width: 100px;
    font-family: 'Nanum Gothic', serif;
    font-weight: bold;
    font-size: 14px;
    color: #1c2b36;
    padding-top: 5px;
}

/*--------------------------------¿µ³²ÀÌ post popularity----------------------------------------*/

.post-popularity-cnt {
    font-family: ¸¼Àº °íµñ, °íµñ, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.post-popularity {
    display: block;
    position: relative;
    float: right;
    margin-top: 33px;
    margin-right: 20px;
}

.post-popularity-item {
    display: inline-block;
    border: 1px solid #ededed;
    border-radius: 4px;
    min-width: 36px;
    height: 28px;
}

.post-popularity-item.like {
}

.post-popularity-item.scrap {
}

.post-popularity-item.comment{
}

.post-popularity :hover {
    background: #F5F5F5;
    border-color: #c1c1c1;
}

.post-popularity-btn {
    display: inline-block;
    width: 16px;
    margin-left: 5px;
    margin-right: 3px;
    margin-top: 7px;
    float: left;
}

.post-popularity-cnt {
    display: inline-block;
    margin-right: 5px;
    margin-top: 3px;
}

/*--------------------------------¿µ³²ÀÌ post popularity----------------------------------------*/

/*.village-board-list
{
    position: relative;
    display: block;
    width: 700px;
    min-height: 130px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid #000000;
    border-radius: 2px;
    overflow: hidden;
}*/


.village-board-item2
{
    display: block;
    width: 650px;
    height: 40px;
    background: #b6c2c9;
    float: left;
    font-family: 'Nanum Gothic', serif;
    font-size: 12px;
}

.village-board-item2 > p
{
    display: block;
    width: 620px;
    font-family: 'Nanum Gothic', serif;
    font-weight: bold;
    font-size: 12px;
    color: #1c2b36;
    /*border: 1px solid red;*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 20px;
    margin-top: 13px;
}

#village-board-item2-text
{
    margin-top: -4px;
    background: white;
    font-family: 'Nanum Gothic', serif;
    font-size: 12px;
    border: 0px solid #000000;
    border-radius: 2px;
}

#village-board-item2-text > p
{
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}

#village-board-item2-img
{
    display: block;
    width: 680px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

.village-board-item3
{
    display:inline-block;
    width: 50px;
    height: 40px;
    background: #c8d2d7;
}

/*.village-board-item4
{
    display:inline-block;
    width: 700px;
    min-height: 100px;
    background: white;
    display: none;
}*/

/*======================================================================*/



/*======================================================================*/

.thumbnail{
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.village-board-item-text
{
    display: inline-block;
    margin-left: 20px;
    width: 60%;
    height: 90%;   
    float: left;
}

.village-board-item-text1
{
    display: inline-block;
    font-family: 'Nanum Gothic', serif;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid red;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}

.village-board-item-text2
{
    display: inline-block;
    font-family: 'Nanum Gothic', serif;
    font-size: 10px;
    font-weight: bold;
    color: #186486;
    border: 1px solid red;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.village-board-item-text3
{
    display: inline-block;
    font-family: 'Nanum Gothic', serif;
    font-size: 12px;
    border: 1px solid red;
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.village-board-item-text4
{
    display: inline-block;
    font-family: 'Nanum Gothic', serif;
    font-size: 10px;
    color: #808080;
    padding-left: 10px;   
    padding-bottom: 5px;
}

#village-search-input1
{
    display: inline-block;
    width: 300px;
    height: 30px;
    font-family: 'Nanum Gothic', serif;
    font-weight: bold;
    font-size: 12px;
    float: right;
    border: 1px solid #808080;
    border-radius: 2px;
    padding-left: 10px;
}




/*======================================================*/

.search-wrapper
{
    position: absolute;
    display: block;
    width: 700px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.search {
    position:absolute;    
    display: block;
    float: left;
    height: 30px;
    width: 300px;
    right: 80px;
    border: 2px solid #808080;
    overflow:hidden;
    top: 25px;
    border-radius: 2px;
    overflow: hidden;
}

#search-input{
    display:block;
    float:left;
    height:30px;
    width:250px;
    position:absolute;
    top:0px;
    left:0px;
    padding-right:50px;
    border:0px;
    text-indent:10px;
    font-family: 'Nanum Gothic', serif;
    font-weight: bold;
    font-size: 12px;
}

#search-button{
    display:block;
    float:left;
    position:absolute;
    top:0px;
    right:-8px;
    height:30px;
    line-height:30px;
    width:50px;
    border:0px;
    vertical-align:middle;
    text-indent:-999px;
    overflow:hidden;
    background: url('../refimg/button.png') no-repeat center;
}

#write-button
{
    position: absolute;
    display: block;
    width: 70px;
    height: 34px;
    top: 25px;
    right: 0px;
    background: #808080;
    font-family: 'Nanum Gothic', serif;
    font-weight: bold;
    font-size: 12px;
    color: white;
    border: 2px solid #808080;
    border-radius: 2px;
    overflow: hidden;
}

/*=======< post-comment >===================================*/
.post-comment-wrapper {
    display: block;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 12px;
    background: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.post-comment {
    display: block;
}

.post-comment-list {
    display: block;
    position: relative;
    padding-bottom: 10px;
    clear: left;
}

.post-comment-list li {
    margin-top: 5px;
}

.comment-info {
    margin-left: 36px;
    padding-top: 8px;
}

.comment-info-writer {
    display: block;
}

.comment-info-date {
    display: inline-block;
    float: left;
}

.comment-like {
    display: inline-block;
    margin-left: 10px;
}

.comment-like-btn {
    display: inline-block;
    float: left;
    padding-top: 4px;
}

.comment-like-cnt {
    display: inline-block;
    margin-left: 2px;
    padding-top: 1px;
}

.comment-content {
    display: block;
    margin-left: 36px;
}

.post-comment-write {
    display: block;
    clear: left;
}
.profile-pic-box-s {
    position: absolute;
    width: 28px;
    height: 28px;
    margin-top: 11px;
    background: black;
    float: left;
    overflow: hidden;
    /*border-radius: 14px;*/
}

.post-input-text {
    width: calc(100% - 112px);
    min-height: 30px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 36px;
    margin-right: 8px;
    margin-top: 10px;
    border: 1px solid #ddd;
    background: white;
    float: left;

    /*box-sizing: border-box;*/
    height: auto;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: auto;
}

.post-input-button {
    width: 50px;
    height: 30px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 11px;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    background: #c1c1c1;
}
